<!DOCTYPE html>
<html>
  <head>
    <title>Giftshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <button href="users/">he</button>
    <%= yield %>
  </body>
</html>
